.action_button_pic {
  width: $action_button_pic-dimension;
  height: $action_button_pic-dimension;
  margin-right: $action_button_pic-margin-right;
  margin-top: 0;
}

.actionbtn {
  @extend .feedsubtitle;
  width: 33%;
  text-align: center;
  justify-content: center;
  font-size: $actionbtn-font;
  margin: 0;
}

.action_buttonforevent_pic {
  width: 0.7rem;
  margin-right: $action_button_pic-margin-right;
  margin-top: 0;
}

.font_bold {
  font-weight: bold;
}

.font_color_70 {
  color: #707070;
}

.font_size_9 {
  font-size: 0.9rem;
}

.font_size_1 {
  font-size: 1rem;
}

.font_600 {
  font-weight: 600;
}

.font_500 {
  font-weight: 500;
}

.width_8 {
  width: 0.8rem;
}

.margin_left_negative_1point7 {
  margin-left: -1.7rem;
}
