.add_event_button {
  height: 4.15rem;
  background: #005ce6 0% 0% no-repeat padding-box;
  border-radius: 2.097rem;
  width: 100%;
}

.add_event_button_image {
  @extend .add_event_card_image;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: 3px solid #ffffff;
}

.bold {
  font: Bold 1rem Segoe UI;
  color: #ffffff;
}

.font_normal {
  font: 0.9rem Segoe UI;
}

.add_event_card {
  background: #005ce6 0% 0% no-repeat padding-box;
  font: 0.9rem Segoe UI;
  font-weight: 600;
  color: #ffffff;
  border-radius: 1.75rem;
}

.add_event_card_image {
  margin-top: 0.49rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  height: 3.213rem;
  width: 3.213rem;
  border: 0.133rem solid #ffffff;
}

.bottom_border_white {
  border-bottom: solid 1px #ffffff;
  margin-top: 0.223rem;
  font-weight: 500;
}

.text_centre {
  text-align: center;
  font-size: 1.249rem;
}

.fw_700 {
  font-weight: 700;
}

.fw_500 {
  font-weight: 500;
}

.cursor_pointer {
  cursor: pointer;
}

.background_blue {
  background: #005ce6 0% 0% no-repeat padding-box;
}

.font_white {
  color: white;
  font: 0.9rem Segoe UI;
  font-weight: 600;
  color: #ffffff;
  border: none;
  outline: none;
  width: inherit;
}

.placeholder_white::placeholder {
  /* Firefox, Chrome, Opera */
  color: white;
  font-weight: 500;
}

.img_container {
  margin-left: 0.669rem;
}

.text_centre_addbtn {
  @extend .text_centre;
  margin-top: 1.149rem;
  padding: 0;
  text-align: left;
  margin-left: 0.928rem;
}

.background_inherit {
  background: inherit;
}

.width_inherit {
  width: inherit;
}

.border_none {
  border: none;
}

textarea:focus {
  outline: none;
}

