.card {
  border-radius: $card-border-radius;
  background-color: $card-color;
  box-shadow: $card-shadow;
  padding-top: $card-padding-top;
  padding-bottom: $card-padding-bottom;
}

.card_title {
  color: $font-color;
  font: $title-font;
}

.font_size_top {
  font-size: 16px;
}
