.flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comments_card {
    @extend .feedcard;
    position: relative;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: $feedcard-width;
    font-family: $golbal-font;
}

.comments_header {
    background: #005CE6 0% 0% no-repeat padding-box;
    border-radius: 2.097rem;
    opacity: 1;
    width: 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    height: 3.55rem;
    margin-left: 1.695rem;
    margin-right: 1.695rem;
    display: flex;
}

.comments_btn {
    @extend .flex_column_center;
    cursor: pointer;
}

.comments_btn__right {
    @extend .flex_column_center;
    align-items: flex-end;
    cursor: pointer;
}

.comments_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.695rem;
    color: white;
    font-size: 1.461rem;
}

.comment_pic {
    @extend .feedpic;
    margin: 0;
}

.single_comment_container {
    margin-bottom: 0.78rem;
    margin-top: 0.78rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.comment_user {
    color: #666666;
    font-weight: 600;
    font-family: inherit;
    font-size: 1.149rem;
    margin-top: 0.3175rem;
    letter-spacing: 0;
    cursor: pointer;
}

.commenter_user_name {
    color: #666666;
}

.comment_text {
    letter-spacing: 0;
    color: #666666;
    font-family: inherit;
    font-size: 1.049rem;
    letter-spacing: 0;
    font-weight: 400;
}

.comment_user_tag {
    @extend .comment_text;
    color: #005CE6;
    margin-right: 0.3175rem;
}

.type_comment_container {
    border: 0.133rem solid #005CE6;
    border-radius: 2.097rem;
    display: flex;
    opacity: 1;
    width: 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    height: 3.55rem;
    margin: auto
}

.typing_container {
    @extend .flex_column_center;
    width: 100%;
}

.reply_comment {
    cursor: pointer;
    margin-left: 0.625rem;
}

.comment_input {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
    letter-spacing: 0;
    color: #666666;
    opacity: 1;
    font-size: 1.15rem;
    width: 100%;
}

.comment_input:focus {
    outline: none;
}

.comments_btn ion-icon {
    font-size: 3.125rem;
    color: #fff;
}

.comments_btn__right ion-icon {
    font-size: 3.125rem;
    color: #005CE6;
}

.list_comments_container {
    height: 42rem;
    overflow-x: hidden;
}

.list_comments_container:hover {
    overflow-y: scroll;
}

.list_comments_container::-webkit-scrollbar { 
    display: none; 
}

.view_more_container {
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    z-index: 5;
    bottom: 10%;
    left: 40%;
    position: absolute;
}

.view_more_btn {
    color: #005CE6;
    cursor: pointer;
    display: inline;
}

.view_more_container ion-icon {
    color: #005CE6;
} 

.referenced_container {
    @extend .flex_column_center;
    margin-right: 0.625rem;
    white-space: nowrap;
}

.typing_container_flex {
    display: flex;
}

.referenced_text {
    color: #005CE6;
}