$card-border-radius: 0.446rem;
$card-color: #FFF;
$card-shadow-color: rgba(0, 0, 0, 0.16);
$card-shadow: 0px 0.187rem 0.374rem $card-shadow-color;
$golbal-font: "Segoe UI";
$title-font: bold 1.25rem $golbal-font;
$font-color: #707070;
$card-padding-top: 1.11rem;
$font-bold: bold;
$font-regular: normal;
$font-light: lighter;
$font-semibold: 550;
$feedpic-diameter: 3.125rem;
$feed-title-font: bold;
$feed-title-margin-top: 1.338rem;
$feed-title-margin-left: 1.562rem;
$feed-title-width: 11rem;
$feed-moreinfo-fontsize: 0.892rem;
$feed-plussymbol-font-size: 2.231rem;
$feed-plussymbol-margin-left: 4.194rem;
$feed-plussymbol-margin-top: 1.338rem;
$feedpic-margin-left: 1.696rem;
$feedpic-margin-top: 1.829rem;
$feedcard-width: 32.175rem;

$userpic-diameter: 2.625rem;
$user-title-font: bold;
$userpic-margin-top: 0.625rem;

$infobtn-diameter: 1.294rem;
$infobtn-top: 0.797rem;
$infobtn-right: 0.675rem;
