.feed_tag_container {
    color: #707070;
    font: 1.116rem $golbal-font 500;
    margin: 0.438rem 0.919rem;
    display: flex; 
    white-space: nowrap;  
    margin-bottom: 0;
}

.tags_container {
    margin-left: 0.438rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

.feed_tag_item {
    display: inline-flex;
    align-items: center;
    font: $golbal-font 700 0.893rem;
    border-radius: 1.875rem;
    height: 1.875rem;
    padding: 0 0.5rem 0 0.5rem;
    border: 0.134rem solid #005CE6;
    margin-right: 0.5rem;
    color: #005CE6;
}
