.infobtn{
    width: $infobtn-diameter;
    height: $infobtn-diameter;
    position: absolute;
    top: $infobtn-top;
    right: $infobtn-right;
}

.infobtnpic{
    width: $infobtn-diameter;
    height: $infobtn-diameter;
}