.navbar_brand{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    margin-left: 9.125rem;
}

.navbar_content{
    color: #797979 0% 0% no-repeat padding-box;
    width: $userpic-diameter;
    height: $userpic-diameter;
}

.navbar_userpic{
    width: $userpic-diameter;
    height: $userpic-diameter;
    border-radius: $userpic-diameter / 2;
    
}

.navbar_item {
    color:#797979;
    padding : 0.3125rem 0.5rem 0.3125rem 0.5rem;      
}

.navbar_br{
    position: absolute;
    left: 10%;
}

.navbar {
    background-color: $card-color;
    box-shadow: $card-shadow;
}

.searchbox{
      border: 0;
      border-radius: 0;
}