.request_card {
    @extend .card;
    margin-bottom: $requestcard-margin-bottom;
    margin-top: $requestcard-margin-top;
    padding-top: 0;
    padding-bottom: $requestcard-padding-bottom;
    width: $feedcard-width;
    font-family: $golbal-font;
    margin-left: auto;
    margin-right: auto;
}

.request_card_container{
    padding: 0;
}

.request_pic {
    @extend .feedpic;
}

.request_title_input {
    margin: 1.628rem;
    padding: 0;
    box-shadow: none;
    border: none;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    font-size: 1.65rem;
    width: 100%;
}

.request_title_input:focus {
    outline: none;
}

.request_input {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    font-size: 1.14rem; 
    width: 100%;
    border-bottom: 0.022rem solid #a7a7a7;
    margin-top: 0.93rem;
}

.request_input__red {
    border-color: red;
    color: red;
}

.validity_helper_text {
    font-size: 0.8rem;
    font-family: $golbal-font;
    color: red;
}

.request_input:focus {
    outline: none;
}

.addDetails_container {
    margin-right: 1.65rem !important;
}

.addDetails_btn {
    float: right;
    background: #005CE6 0% 0% no-repeat padding-box;
    border-radius: $requestcard-addDetails-border-radius;
    opacity: 1;
    letter-spacing: 0;
    color: #FFFFFF;
    font: $requestcard-addDetails-font;
    margin-right: 0.3rem;
}

.details_container {
    margin-bottom: 1.11rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

