.trend_card_padding{
    padding: 0.0625rem;
    margin-bottom : 0rem;
}

.trend_card_interesed_style{
    padding-left:1.25rem;
    padding-bottom: 0.9375rem;
}

.trend_main_card{
    margin : 1.25rem;
    width:100%;
}