.userstamp_style {
  border-radius: 15%;
  text-align: center;
  color: white;
}

.font_1_25 {
  font-size: 1.25rem;
}

.userstamp_image {
    color: white;
    height: 3.25rem; 
    border: 0.125rem solid #fff;
}

.userstamp_star{
  font-size: 0.5rem;
}
