.yourrequest_main_card{
    margin : 1.25rem;
    text-align:center
}

.hidden_border{
    border:hidden
}

.yourrequest_inner_card{
    padding: 0.0625rem;
    text-align:left;
}

.yourrequest_title{
    text-align:left;
}